.location-icon {
  --active: var(--grey-1100);
  --color: var(--grey-1100);
  --hover: var(--grey-1100);
  --size: 20px;
  mask-image: url("https://cdn.unstop.com/assets/icons/location_on_color.svg");
}